<% content_for :page_title do %>
    <%= t('stock_manager.title', date: (l Date.today)) %>
<% end %>

<% content_for :page_actions do %>
    <li id="new_product_link">
      <button data-print class="fa fa-print"><%= t('stock_manager.print') %></button>
    </li>
<% end %>

<fieldset>
  <legend><%= t('stock_manager.date_range') %></legend>
  <div class="only_print">
    <p>
      <b><%= Spree.t(:start) %>: </b>
      <%= params[:from].present? ? params[:from] : '-' %>
    </p>

    <p>
      <b><%= Spree.t(:end) %>: </b>
      <%= params[:to].present? ? params[:to] : '-' %>
    </p>
  </div>
  <%= form_tag stock_overview_admin_reports_path, method: :get do |f| %>
      <div class="row">

          <div class="field align-center">
            <%= label_tag 'from',  Spree.t(:start), class: 'inline' %>
            <%= text_field_tag 'from', params[:from], class: 'datepicker datepicker-from' %>

            <span class="range-divider">
                <i class="fa fa-arrow-right"></i>
            </span>

            <%= text_field_tag 'to', params[:to], class: 'datepicker datepicker-to' %>
            <%= label_tag 'to',  Spree.t(:end), class: 'inline' %>
          </div>
        </div>

      <div class="form-buttons actions filter-actions">
        <%= button_tag Spree.t(:search), class: 'fa fa-search button' %>
        <span class="or"><%= Spree.t('or') %></span>
        <%= link_to t('stock_manager.reset_button'), stock_overview_admin_reports_path, class: 'fa fa-remove button' %>
      </div>
  <% end %>
</fieldset>

<table class="index" id="listing_products">
  <col width="20%">
  <col width="34%">
  <col width="13%">
  <col width="13%">
  <col width="20%">
  <thead>
  <tr data-hook="admin_products_index_headers">
    <th><%= t('stock_manager.article_number') %></th>
    <th class="align-left"><%= t('stock_manager.article_name') %></th>
    <th class="align-right"><%= t('stock_manager.in_stock') %></th>
    <th class="align-right"><%= t('stock_manager.sold') %></th>
    <th class="align-right"><%= t('stock_manager.money') %></th>
  </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
      <% variants = product.variants %>
      <tr <%= "class='no-stock'".html_safe unless product.has_stock? %> id="<%= dom_id product %>" data-hook="admin_products_index_rows">
        <td>
          <%= product.sku rescue '' %>
          <% variants.each do |v| %>
              <br/><%= v.sku rescue '' %>
          <% end %>
        </td>
        <td>
          <%= link_to product.try(:name), edit_admin_product_path(product) %>
          <% variants.each do |v| %>
              <br/><%= v.options_text %>
          <% end %>
        </td>
        <td class="align-right">
          <div><%= product.total_on_hand %></div>
          <% variants.each do |v| %>
              <% v.stock_items.each do |stock_item| %>
                  <div <%= "class='no-stock'".html_safe if stock_item.count_on_hand == 0 %>><%= stock_item.count_on_hand %></div>
              <% end %>
          <% end %>
        </td>
        <td class="align-right">
          <div><%= product.count_sold(params[:from], params[:to]) %></div>
          <% variants.each do |variant| %>
              <div><%= variant.count_sold(params[:from], params[:to]) %></div>
          <% end %>
        </td>
        <td class="align-right">
          <div><%= Spree::Money.new(product.count_money(params[:from], params[:to])) %></div>
          <% variants.each do |variant| %>
              <div><%= Spree::Money.new(variant.count_money(params[:from], params[:to])) %></div>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= javascript_tag "$('#sub_nav > li:first-child').removeClass('selected')" %>
<%= javascript_tag "$('#sub_nav > li:last-child').addClass('selected')" %>
