<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<% content_for :page_title do %>
    <%= l Date.today %> <%= t('stock_manager.title') %>
<% end %>

<% content_for :page_actions do %>
    <li id="new_product_link">
      <button data-print><%=t('stock_manager.print')%></button>
    </li>
<% end if can?(:create, Spree::Product) %>

<table class="index" id="listing_products">
  <col width="20%">
  <col width="30%">
  <col width="10%">
  <col width="10%">
  <col width="30%">
  <thead>
  <tr data-hook="admin_products_index_headers">
    <th><%= t('stock_manager.article_number') %></th>
    <th><%= t('stock_manager.article_name') %></th>
    <th><%= t('stock_manager.in_stock') %></th>
    <th><%= t('stock_manager.sold') %></th>
    <th><%= t('stock_manager.money') %></th>
  </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
      <% variants = product.variants %>
      <tr <%= "class='no-stock'".html_safe unless product.has_stock? %> id="<%= dom_id product %>" data-hook="admin_products_index_rows">
        <td>
          <%= product.sku rescue '' %>
          <% variants.each do |v| %>
              <br/><%= v.sku rescue '' %>
          <% end %>
        </td>
        <td>
          <%= link_to product.try(:name), edit_admin_product_path(product) %>
          <% variants.each do |v| %>
              <br/><%= v.options_text %>
          <% end %>
        </td>
        <td>
          <%= product.total_on_hand %>
          <% variants.each do |v| %>
              <% v.stock_items.each do |stock_item| %>
                  <br/><span <%= "class='no-stock'".html_safe if stock_item.count_on_hand == 0 %>><%= stock_item.count_on_hand %></span>
              <% end %>
          <% end %>
        </td>
        <td>
          <%= product.count_sold %>
          <% variants.each do |variant| %>
              <br/>
              <span><%= variant.count_sold %></span>
          <% end %>
        </td>
        <td>
          <span><%= Spree::Money.new(product.count_money) %></span>
          <% variants.each do |variant| %>
              <br/>
              <span><%= Spree::Money.new(variant.count_money) %></span>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= javascript_tag "$('#sub_nav > li:first-child').removeClass('selected')" %>
<%= javascript_tag "$('#sub_nav > li:last-child').addClass('selected')" %>
