<%= render :partial => 'spree/admin/shared/product_sub_menu' %>
<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li id="new_product_link">
      <%= button_link_to t(:new_product), new_object_url, {:remote => true, :icon => 'add', :id => 'admin_new_product'} %>
    </li>
  </ul>
  <br class="clear" />
</div>
<h1><%= t(:listing_products) %></h1>
<a style="cursor:pointer;margin-bottom:10px" id="show-only-no-stock" class="button" href="#"> <span>show only no stock </a></h2>
<div id="new_product" data-hook></div>
<table class="index" id="listing_products">
  <tr data-hook="admin_products_index_headers">
    <th><%= t(:sku) %></th>
    <th><%= t(:name) %></th>
    <th><%= t('.in_stock') %></th>
    <th><%= t(:warehouse) %></th>
  </tr>
<% @products.each do |product| %>
  <% variants = product.variants %>
  <tr <%= "class='no-stock'".html_safe unless product.has_stock? %> id="<%= dom_id product %>" data-hook="admin_products_index_rows">
    <td>
      <%= product.sku rescue '' %>
      <% variants.each do |v| %>
      <br/><%= v.sku rescue '' %>
      <% end %>
    </td>
    <td><%= link_to product.try(:name), edit_admin_product_path(product) %>
      <% variants.each do |v| %>
        <br/><%= v.options_text  %>
      <% end %>
    </td>
    <td>
      <%= product.total_on_hand %>
      <% variants.each do |v| %>
      <br/><span <%= "class='no-stock'".html_safe if v.on_hand == 0%>><%=  v.on_hand  %></span>
      <% end %>
    </td>
    <td>
      <% product.stock_items.order(:variant_id).each do |stock_item| %>
       <br/>
       <span <%= "class='no-stock'".html_safe if stock_item.count_on_hand == 0%>>
        <%=  stock_item.stock_location.admin_name  %>&nbsp;-&nbsp;<%=  stock_item.count_on_hand  %>
       </span>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= javascript_tag "$('#sub_nav > li:first-child').removeClass('selected')" %>
<%= javascript_tag "$('#sub_nav > li:last-child').addClass('selected')" %>

<script>

noStock = function(){
 noStock = [];
 $('#listing_products tr:not(:first-child)').each(function(){
   $(this).hide()
   if ($(this).hasClass('no-stock')
   || $(this).find('.no-stock').length > 0 ) {
     noStock.push($(this))
   }
 })
 $(noStock).each(function(){$(this).show()})
}

$('#show-only-no-stock').on('click',noStock)

</script>

